(:html :lang "ja"
   (:head
       (:title :data-bind "text: title" nil)
       (:meta :charset "utf-8")
       (:meta :name "viewport" :content "width=device-width, initial-scale=1.0")
       (:link :rel "stylesheet" :href "/boardgame/css/boardgame.dep.css")
       (:link :rel "stylesheet" :href "/boardgame/css/boardgame.css"))
   (:body
       (:div :class "container-fluid"
	     (:div :class "row-fluid"
		   (:div :class "span3 sidebar"
			 (:a :class "sidebar_title_a" :href "http://doyoulisp.org/boardgame/" "日曜ボードゲーム")
			 #@|component/sidebar.tmpl|)
		   (:div :class "span7 content"
			 #@|component/content-header.tmpl|
			 (:article :data-bind "template: { name : articleType }")))
	     #@|component/common-footer.tmpl|
	     )
       (:script :src "/boardgame/js/boardgame.dep.min.js" :type "text/javascript" nil)
       (:script :src "/boardgame/js/boardgame.js" :type "text/javascript" nil)
       #@|component/blog-item-summary.tmpl|
       #@|component/blog-item.tmpl|
       ))
